.App {
}

.main-top-menu,
.inner-main-top-menu {
  position: fixed;
  width: 100%;
  background-color: transparent;
  padding: 15px 0px 0px 0px;
  z-index: 9999999;
  /* z-index: 999; */
}

.home {
  background-color: yellowgreen;
  height: 1200px;
}

.menu {
  position: relative;
  /* overflow: hidden; */
  background-color: rgb(221, 137, 183);
  /* height: 100vh; */
}
